# Environment values loaded by python-decouple
DJANGO_SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=sre_bootcamp
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
WEB_IMAGE=docker.io/<user>/sre-bootcamp-web:dev-abc1234