DJANGO_SECRET_KEY=generate-a-long-random-secret-key
DEBUG=False

# Database
DB_NAME=change-me-to-your-db-name
DB_USER=change-me-to-username
DB_PASSWORD=change-me-to-a-strong-password

# Hosts that are allowed to access Django
# e.g. your-domain.com or server IP
ALLOWED_HOSTS=your-domain.com

# Optional: override the web image used in docker-compose.prod.yml
# WEB_IMAGE=docker.io/your-dockerhub-username/sre-bootcamp-web:v0.1.0
